body {
    margin: 0;


    box-sizing: border-box;

    background-color: var(--lcdpx4);
    color: var(--lcdfg);
    border-color: var(--lcdpx12);

    /*
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    */

    font-family: "Texturina", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;

}

main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1ex;
    padding-right: 1ex;
    box-sizing: border-box;
    width: min(100%, 45em);
}

p {
    margin-top: 1ex;
    margin-bottom: 1ex;
    line-height: 130%;
}

footer {
    margin-left: auto;
    margin-right: auto;
    padding: 1ex;
    box-sizing: border-box;
    width: min(100%, 45em);
}

a {
    color: var(--lcdpx13);
    font-weight: 450;
}

a:visited {
    color: var(--lcdpx13);
    font-weight: 450;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 18pt;
}

h1 a { font-weight: bold; }
h1 a:visited { font-weight: bold; }

h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 16pt;
}

h2 a { font-weight: bold; }
h2 a:visited { font-weight: bold; }


h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 14pt;
}

h3 a { font-weight: bold; }
h3 a:visited { font-weight: bold; }


pre {
    /*font-family: "Lekton", monospace;*/
    font-family: monospace;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;

    overflow-x: auto;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--lcdpx7);
    background-color: var(--lcdpx1);
}

pre code {
    border-style: none;
    padding-left: 0px;
    padding-right: 0px;
}

code {
    /*font-family: "Lekton", monospace;*/
    font-family: monospace;
    font-weight: 200;
    font-size: 10pt;
    font-style: normal;

    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--lcdpx7);
    background-color: var(--lcdpx1);
    padding-top: -1em;

    word-break: all;

    padding-left: 3px;
    padding-right: 3px;
}

/*
 * Menu
 */

header nav {
    /*display: table; */
    height: 3em;
    width: 100%;
    margin-bottom: 1ex;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
}

header nav::-webkit-scrollbar {
    display: none;
}

header nav ul {
    display: block;
    overflow: hidden;
    height: 100%;
    
    background-color: var(--lcdfg);
    list-style-type: none;
    min-width: max-content;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
}

header nav li {
    display: flex;
    float: left;
    align-items: center;

    padding-left: 1em;
    padding-right: 1em;
    width: max-content;
    height: 100%;
    font-weight: normal;
}

header nav li {
    background-color: var(--lcdpx13);
    color: var(--lcdpx4);
}

header nav li:hover {
    background-color: var(--lcdpx10);
    color: var(--lcdpx4);
}

header nav [aria-current] li {
    background-color: var(--lcdbg);
    color: var(--lcdfg);
}

header nav [aria-current] li:hover {
    background-color: var(--lcdpx4);
    color: var(--lcdfg);
}

/*
 * Block Hierarchy
 */ 
div.h1 {
    border-color: var(--lcdpx5);
    background-color: var(--lcdpx3);
    border-style: solid;
    border-width: 4px;

    overflow-x: auto;

    display: block;
    padding-left: 1ex;
    padding-right: 1ex;
    /*padding-bottom: 1ex;*/
    margin-bottom: 1ex;

    box-sizing: border-box;

}

div.h2 {
    border-color: var(--lcdpx6);
    background-color: var(--lcdpx2);
    border-style: solid;
    border-width: 2px;

    display: block;
    padding-left: 1ex;
    padding-right: 1ex;
    /*padding-bottom: 1ex; */
    margin-bottom: 1ex;

}

div.h3 {

    display: block;
    padding-top: 22px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

    margin-bottom: 1ex;

    width: 100%;

}


/*
 * Project box
 */

div.project {
    background-color: var(--lcdpx0);

    box-sizing: border-box;
    border-style: none;
    border-image-source: url("/images/topbars.png");
    border-image-slice: 19 8 9 17 fill;
    border-image-width: 19px 8px 9px 17px;
    border-image-repeat: repeat;


}

div.h3.project img {
    /* Icon */
    height: 2.5em;
    vertical-align: middle;
    max-width: 48px;
    max-height: 48px;

    filter: grayscale(100%);
    opacity: 0.8;
}


div.h3.project p:nth-of-type(1) {
    /* Subtitle */
    font-style: italic;
    margin-top: 0.5em;
}

div.h3.project p:nth-of-type(n+2) {
    /* Description */
    text-align: justify;
    width: 100%;
    margin-top: 1ex;
    margin-bottom: 0;
}

/* Make them a little wonky */

div.h3.project:nth-of-type(4n) {
    transform: rotateZ(0.4deg);
}

div.h3.project:nth-of-type(4n + 1) {
    transform: rotateZ(-0.2deg);
}

div.h3.project:nth-of-type(4n + 2) {
    transform: rotateZ(-0.4deg);
}

div.h3.project:nth-of-type(4n + 3) {
    transform: rotateZ(0deg);
}


/*
 * Post listing
 */
div.h3.article {
    background-color: var(--lcdpx0);

    box-sizing: border-box;
    border-style: none;
    border-image-source: url("/images/topbars.png");
    border-image-slice: 19 8 9 17 fill;
    border-image-width: 19px 8px 9px 17px;
    border-image-repeat: repeat;

    padding-top: 15px;
    text-align: justify;

}

/* Make them a little wonky */

div.h3.article:nth-of-type(4n) {
    transform: rotateZ(-0.2deg);
}

div.h3.article:nth-of-type(4n + 1) {
    transform: rotateZ(0deg);
}

div.h3.article:nth-of-type(4n + 2) {
    transform: rotateZ(-0.4deg);
}

div.h3.article:nth-of-type(4n + 3) {
    transform: rotateZ(0.4deg);
}

div.h3.article img {
    width: 100%;
    box-sizing: border-box;
    border-color: var(--lcdpx15);
    border-style: solid;
    border-width: 1px;
}

div.h3.article p {
    margin-bottom: 1em;
}

/*
 * More general stuff
 */

table {
    width: 100%;
    margin-bottom: 1ex;
}

table th, td {
    padding-left: 1ex;
    padding-right: 1ex;
    padding-bottom: 1ex;

}

table th {
    padding: 1ex;
    font-weight: 600;
}

table thead tr {
    background-color: var(--lcdpx13);
    color: var(--lcdpx0);
}

table tbody tr:nth-of-type(2n){
    background-color: var(--lcdpx4);
}

table tbody tr:nth-of-type(2n+1) {
    background-color: var(--lcdpx1);
}

